
/*---- Breakpoints ----*/

@breakpoint-small:                              480px;
@breakpoint-medium:                             768px;
@breakpoint-large:                              960px;
@breakpoint-xlarge:                             1220px;
@breakpoint-mini-max:                           (@breakpoint-small - 1);
@breakpoint-small-max:                          (@breakpoint-medium - 1);
@breakpoint-medium-max:                         (@breakpoint-large - 1);
@breakpoint-large-max:                          (@breakpoint-xlarge - 1);

/*---- COLORS ----*/

/* Base Color */
@cbase: #08cccc;
@cbright: #39d6d6;
@cdark: #18bcbc;
@cbody: #069b9b;
@clink: #086cd1;
@chover: #08cccc;
@white: #ffffff;
@gray: rgba(142, 155, 157, 0.8);
@black: #000000;
@shadow: #035252;
@color01: rgba(8, 204, 204, 0.9);
/* Gradiate Colors */
@cgrad01: #022929;
@cgrad02: #035252;
@cgrad03: #057a7a;
@cgrad04: #06a3a3;
@cgrad05: #39d6d6;
@cgrad06: #6be0e0;
@cgrad07: #9cebeb;
@cgrad08: #cef5f5;
/* Pattern Colors */
@cpatt01: #463252;
@cpatt02: #3b347a;
@cpatt03: #2660a3;
@cpatt04: #327ed6;
@cpatt05: #e35aa9;
@cpatt06: #ee9bcb;
@cpatt07: #f9dced;
/* Gray Colors */
@cgray00: #8e9b9d;
@cgray01: #034d4d;
@cgray02: #357171;
@cgray03: #689494;
@cdis01: #689494;
@cgray04: #9ab8b8;
@cdis02: #9ab8b8;
@cgray05: #cddbdb;


@button-background:                      @cdark;
@button-color:                           @white;
@button-hover-background:                @cbase;
@button-hover-color:                     @white;
@button-active-background:               @cdark;
@button-active-color:                    @white;
@button-disabled-background:             @cdis02;
@button-disabled-color:                  @cdis01;
@button-link-color:                      @white;
@button-link-hover-color:                @white;
@button-link-hover-text-decoration:      underline;
@button-link-disabled-color:             @cdis01;

/*---- FONT ----*/

@font_family_01: "Roboto", Helvetica, Arial, sans-serif;
@font_family_02: "Roboto", Helvetica, Arial, sans-serif;

/*---- BASE ----*/

html {
  background-color: @white;
}
body {
  color: @cbody;
  font-family: @font_family_01;
}
a, a:link, a:visited {
  color: @clink;
}
a:hover, a:active {
  color: @chover;
}
input {
	color: @cbody;
	border-color: @cbody;
}
.input:hover,
.input:focus {
  border-color: @chover;
}

.disp_on {
	display: block;
}
.disp_off {
	display: none;
}
.vis_on {
	visibility:visible;
}
.vis_off {
	visibility:hidden;
}

/*---- BUTTON ----*/

.uk-button {
		margin: 1px;
    color: @white;
    border: 1px solid @cdark;
    background: @button-background;
    box-shadow: none;
		-moz-text-shadow: 1px 1px 2px fade(@shadow, 50%);
		-webkit-text-shadow: 1px 1px 2px fade(@shadow, 50%);
		-ms-text-shadow: 1px 1px 2px fade(@shadow, 50%);
		text-shadow: 1px 1px 2px fade(@shadow, 50%);
}
a.uk-button, a:link.uk-button, a:visited.uk-button {
	color: @white;
}
.uk-button:hover,
.uk-button:focus {
    background-color: @button-hover-background;
    color: @button-hover-color;
}
.uk-button:active,
.uk-button.uk-active {
    background-color: @button-active-background;
    color: @button-active-color;
}
.uk-button:disabled {
    background-color: @button-disabled-background;
    color: @button-disabled-color;
}
.uk-button-link { color: @button-link-color; }
.uk-button-link:hover,
.uk-button-link:focus,
.uk-button-link:active,
.uk-button-link.uk-active {
    color: @button-link-hover-color;
    text-decoration: @button-link-hover-text-decoration;
}
.uk-button-link:disabled { color: @button-link-disabled-color; }

/*---- HEADER FOOTER ----*/

div#header-border {
	z-index: 500;
	position: fixed;
	width: 100%;
	height: 10px;
	top: 0;
	background: @cbase;
	margin-bottom: 40px;
	color: fade(@white, 0%);
  -webkit-box-shadow: 0px 2px 3px fade(@gray, 50%);
  -moz-box-shadow:    0px 2px 3px fade(@gray, 50%);
  box-shadow:         0px 2px 3px fade(@gray, 50%);
	text-align: center;
	.icon-center {
		float:left;
		position: relative;
  	left: 50%;
		box-sizing: border-box;
		display: inline-block;
		text-align: center;
		width: 20px;
		height: 20px;
		background: @cbase;
		line-height: 20px;
		color: @white;
		font-size: 11px;
		border: none;
		border-radius: 100%;
		text-shadow: 0 1px 0 fade(@black, 30%);
		-webkit-box-shadow: 0px 2px 3px fade(@gray, 50%);
  	-moz-box-shadow:    0px 2px 3px fade(@gray, 50%);
  	box-shadow:         0px 2px 3px fade(@gray, 50%);
	}
}

div#footer-border {
	z-index: 500;
	position: fixed;
	width: 100%;
	height: 10px;
	bottom: 0px;
	background: @cbase;
	margin-top: 20px;
	color: fade(@white, 0%);
	-webkit-box-shadow: 2px 0px 3px fade(@gray, 50%);
  -moz-box-shadow:    2px 0px 3px fade(@gray, 50%);
  box-shadow:         2px 0px 3px fade(@gray, 50%);
	text-align: center;
	.icon-center {
		float:left;
		position: relative;
  	left: 50%;
		box-sizing: border-box;
		display: inline-block;
		text-align: center;
		margin-top: -10px;
		width: 20px;
		height: 20px;
		background: @cbase;
		line-height: 20px;
		color: @white;
		font-size: 11px;
		border: none;
		border-radius: 100%;
		text-shadow: 0 1px 0 fade(@black, 30%);
		-webkit-box-shadow: 0px -2px 3px fade(@gray, 50%);
  	-moz-box-shadow:    0px -2px 3px fade(@gray, 50%);
  	box-shadow:         0px -2px 3px fade(@gray, 50%);
	}
}

.uk-footer {
	z-index: 600;
	width: 100%;
	height: 100px;
	margin: 0;
	background-color: @cbase;
	padding: 15px 0;
	color: @white;
	-webkit-box-shadow: 0px -2px 3px fade(@gray, 50%);
  -moz-box-shadow:    0px -2px 3px fade(@gray, 50%);
  box-shadow:         0px -2px 3px fade(@gray, 50%);
	a, a:link, a:active, a:visited {
		color: @white;
	}
	a:hover {
		color: @cbright;
	}
}

#footer-close {
	float: right;
	margin: -27px 10px 0 0;
}

/*---- MENUE ----*/

.uk-navbar {
	z-index: 600;
	position: fixed;
	width: 100%;
	top: 0;
	padding: 8px 0;
	background: @cbase;
	border: none;
	txt-align: left;
	-webkit-box-shadow: 0px 2px 3px fade(@gray, 50%);
  -moz-box-shadow:    0px 2px 3px fade(@gray, 50%);
  box-shadow:         0px 2px 3px fade(@gray, 50%);
}
.uk-navbar-content {
	padding: 0 10px;
}
.navbar-logo {
	display: inline-block;
	padding: 0 10px;
	height: 36px;
	float: none;
}

.uk-button.header-btn {
  -moz-box-shadow: 1px 1px 3px fade(@white, 75%);
	-webkit-box-shadow: 1px 1px 3px fade(@white, 75%);
	-ms-box-shadow: 1px 1px 3px fade(@white, 75%);
	box-shadow: 1px 1px 3px fade(@white, 75%);
}

a#menus.uk-navbar-toggle.uk-float-right {
	text-shadow: none;
	&:link, &:active, &:visited {
		text-shadow: none;
		color: @white;
	}
	&:hover {
		color: @cbase;
	}

}

.copy {
	margin-top: 3px;
	color: @white;
	font-size: 1.0em;
	-moz-text-shadow: 1px 1px 2px fade(@shadow, 50%);
	-webkit-text-shadow: 1px 1px 2px fade(@shadow, 50%);
	-ms-text-shadow: 1px 1px 2px fade(@shadow, 50%);
	text-shadow: 1px 1px 2px fade(@shadow, 50%);
}

/*---- SUB-MENUES ----*/

#menus {
	.uk-modal-dialog {
		.uk-button-dropdown {
			width: 100%;
		}
		.menu-btn {
			width:100%;
			margin-bottom: 10px;
			text-align: left;
			a {
				color: @white;
			}
			i.uk-icon-caret-down {
				float: right;
				padding-top: 6px;
			}
		}
		.uk-dropdown {
			border: 1px solid @cdark;
			margin-left: 20px;
			li a {
				font-weight: bold;
				padding: 10px 0 10px 15px;
				color: @cbody;
				text-shadow: none;
				&:hover {
					background-color: @cdark;
					color: @white;
				}
			}
			&.uk-dropdown-bottom {
				padding: 10px 15px;
				margin: -5px 0 0 50px;
				box-shadow: 2px 2px 3px fade(@black, 25%);
			}
		}	
		.uk-grid-divider:not(:empty) {
			padding: 0;
			margin: 10px auto;
		}
		.uk-grid-divider .line-padd {
			padding: 0;
			text-align: center;
		}
	}
}

/*---- MODAL ----*/

.uk-modal-dialog {
	min-width: 300px;
	max-width: 600px;
}

.uk-modal-header {
	background: @cbase;
	padding: 10px 0 10px 20px;
	> h2 {
		font-size: 1.2em;
		color: @white;
		font-weight: bold;
	}
}

.uk-close-alt {
  background: @white;
  color: @cbase;
  box-shadow: none;
  border: 1px solid @cdark;
  &:hover {
  	background: @cbase;
  	color: @white;
  }
}

/*---- FORM ----*/

.uk-form {
	.uk-form-controls {
		margin: 10px;
		input,
		select,
		textarea {
	    border-radius: 4px;
	    color: @cdark;
	    width: 98%;
	  }
	}
}
.uk-form input:focus:not([type]), .uk-form input[type="text"]:focus, .uk-form input[type="password"]:focus, .uk-form input[type="email"]:focus, .uk-form input[type="url"]:focus, .uk-form input[type="search"]:focus, .uk-form input[type="tel"]:focus, .uk-form input[type="number"]:focus, .uk-form input[type="datetime"]:focus, .uk-form input[type="datetime-local"]:focus, .uk-form input[type="date"]:focus, .uk-form input[type="month"]:focus, .uk-form input[type="time"]:focus, .uk-form input[type="week"]:focus, .uk-form input[type="color"]:focus, .uk-form select:focus, .uk-form textarea:focus {
    border-color: @cbase;
    outline: 0;
    background: fade(@cbright, 5%);
    color: @cgrad01;
}

#login_form.uk-modal {
	.uk-modal-header {
		background-color: @cbase;
		h2 {
			color: @white;
		}
 	}
 	.label-width {
 		width: 100px;
 	}
 	.zip-width {
 		min-width: 60px;
 	}
}

/*---- MEDIA ----*/

#logo {
	background:url(../img/logo/logo_40_40_01.png);
	&:hover{ 
		-moz-box-shadow: 1px 1px 3px fade(@gray, 30%);
		-webkit-box-shadow: 1px 1px 3px fade(@gray, 30%);
		-ms-box-shadow: 1px 1px 3px fade(@gray, 30%);
		box-shadow: 1px 1px 3px fade(@gray, 30%);
	}
}

@media (min-width: @breakpoint-small) {

}
@media (min-width: @breakpoint-medium) {

}
@media (min-width: @breakpoint-large) {

}
@media (min-width: @breakpoint-xlarge) {

}

/*---- TABLE ----*/

.uk-table td,
.uk-table th {
  padding: 6px;
  border-bottom: 1px solid @cgray05;
}

/*---- MAIN WRAPPER ----*/

#main {
	margin: 60px auto 25px auto;
	text-align: center;
}
.container {
	margin: 10px;	
}

#user-name {
	float:right;
	margin: 0 10px 20px 0;
	font-size: 0.8em;
}
span#subtitle1 {
  display: inline-block;
  margin-top: 10px;
}
span#subtitle2 {
  display: none;
}

/*---- PANEL ----*/

.uk-panel-box {
    padding: 10px 15px;
    background: @white;
    color: @cbody;
    border: 1px solid @cgray05;
    border-radius: 4px;
    h4.uk-panel-title {
    	font-weight: bold;
    	color: @cbody;
    	text-align: left;
    	border-bottom: 1px solid @cbody;
    	padding-bottom: 2px;
    }
    .uk-panel-teaser {
    	test-align: center;
    	height: 100px;
    	overflow: hidden;
    	-webkit-box-shadow: 0px 1px 2px fade(@gray, 50%);
		  -moz-box-shadow:    0px 1px 2px fade(@gray, 50%);
		  box-shadow:         0px 1px 2px fade(@gray, 50%);
    }
    .box-text {
			text-align: left;
			padding: 0;
			margin: 5px 0;
			line-height: 1.3;
			font-weight: normal;	
		}
		.box-cover {
			margin-bottom: 10px;
		}
		.box-photo {
		}
		.uk-thumbnail {
			padding: 0;
			border: none;
			border-radius: 0;
			max-height: 200px;
			overflow: hidden;
		}
    &.color-pink {
    	background: @cpatt07;
    	border: 1px solid @cpatt05;
    	color: @cpatt05;
    	h4.uk-panel-title {
    		color: @cpatt05;
    		border-bottom: 1px solid @cpatt05;
    	}
    }
    &.color-gray {
    	background: @cgray03;
    	border: 1px solid @cgray02;
    	color: @white;
    	h4.uk-panel-title {
    		color: @white;
    		border-bottom: 1px solid @white;
    	}
    }
    &.color-blue {
    	background: @cgrad08;
    	border: 1px solid @cbody;
    	font-weight: bold;
    	h4.uk-panel-title {
    		border-bottom: 1px solid @cbody;
    	}
    }
    &:hover {
	  	cursor: pointer;
	  }
}
