/*---- Breakpoints ----*/
/*---- COLORS ----*/
/* Base Color */
/* Gradiate Colors */
/* Pattern Colors */
/* Gray Colors */
/*---- FONT ----*/
/*---- BASE ----*/
html {
  background-color: #ffffff;
}
body {
  color: #069b9b;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
a,
a:link,
a:visited {
  color: #086cd1;
}
a:hover,
a:active {
  color: #08cccc;
}
input {
  color: #069b9b;
  border-color: #069b9b;
}
.input:hover,
.input:focus {
  border-color: #08cccc;
}
.disp_on {
  display: block;
}
.disp_off {
  display: none;
}
.vis_on {
  visibility: visible;
}
.vis_off {
  visibility: hidden;
}
/*---- BUTTON ----*/
.uk-button {
  margin: 1px;
  color: #ffffff;
  border: 1px solid #18bcbc;
  background: #18bcbc;
  box-shadow: none;
  -moz-text-shadow: 1px 1px 2px rgba(3, 82, 82, 0.5);
  -webkit-text-shadow: 1px 1px 2px rgba(3, 82, 82, 0.5);
  -ms-text-shadow: 1px 1px 2px rgba(3, 82, 82, 0.5);
  text-shadow: 1px 1px 2px rgba(3, 82, 82, 0.5);
}
a.uk-button,
a:link.uk-button,
a:visited.uk-button {
  color: #ffffff;
}
.uk-button:hover,
.uk-button:focus {
  background-color: #08cccc;
  color: #ffffff;
}
.uk-button:active,
.uk-button.uk-active {
  background-color: #18bcbc;
  color: #ffffff;
}
.uk-button:disabled {
  background-color: #9ab8b8;
  color: #689494;
}
.uk-button-link {
  color: #ffffff;
}
.uk-button-link:hover,
.uk-button-link:focus,
.uk-button-link:active,
.uk-button-link.uk-active {
  color: #ffffff;
  text-decoration: underline;
}
.uk-button-link:disabled {
  color: #689494;
}
/*---- HEADER FOOTER ----*/
div#header-border {
  z-index: 500;
  position: fixed;
  width: 100%;
  height: 10px;
  top: 0;
  background: #08cccc;
  margin-bottom: 40px;
  color: rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0px 2px 3px rgba(142, 155, 157, 0.5);
  -moz-box-shadow: 0px 2px 3px rgba(142, 155, 157, 0.5);
  box-shadow: 0px 2px 3px rgba(142, 155, 157, 0.5);
  text-align: center;
}
div#header-border .icon-center {
  float: left;
  position: relative;
  left: 50%;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  background: #08cccc;
  line-height: 20px;
  color: #ffffff;
  font-size: 11px;
  border: none;
  border-radius: 100%;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 3px rgba(142, 155, 157, 0.5);
  -moz-box-shadow: 0px 2px 3px rgba(142, 155, 157, 0.5);
  box-shadow: 0px 2px 3px rgba(142, 155, 157, 0.5);
}
div#footer-border {
  z-index: 500;
  position: fixed;
  width: 100%;
  height: 10px;
  bottom: 0px;
  background: #08cccc;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0);
  -webkit-box-shadow: 2px 0px 3px rgba(142, 155, 157, 0.5);
  -moz-box-shadow: 2px 0px 3px rgba(142, 155, 157, 0.5);
  box-shadow: 2px 0px 3px rgba(142, 155, 157, 0.5);
  text-align: center;
}
div#footer-border .icon-center {
  float: left;
  position: relative;
  left: 50%;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background: #08cccc;
  line-height: 20px;
  color: #ffffff;
  font-size: 11px;
  border: none;
  border-radius: 100%;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px -2px 3px rgba(142, 155, 157, 0.5);
  -moz-box-shadow: 0px -2px 3px rgba(142, 155, 157, 0.5);
  box-shadow: 0px -2px 3px rgba(142, 155, 157, 0.5);
}
.uk-footer {
  z-index: 600;
  width: 100%;
  height: 100px;
  margin: 0;
  background-color: #08cccc;
  padding: 15px 0;
  color: #ffffff;
  -webkit-box-shadow: 0px -2px 3px rgba(142, 155, 157, 0.5);
  -moz-box-shadow: 0px -2px 3px rgba(142, 155, 157, 0.5);
  box-shadow: 0px -2px 3px rgba(142, 155, 157, 0.5);
}
.uk-footer a,
.uk-footer a:link,
.uk-footer a:active,
.uk-footer a:visited {
  color: #ffffff;
}
.uk-footer a:hover {
  color: #39d6d6;
}
#footer-close {
  float: right;
  margin: -27px 10px 0 0;
}
/*---- MENUE ----*/
.uk-navbar {
  z-index: 600;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 8px 0;
  background: #08cccc;
  border: none;
  txt-align: left;
  -webkit-box-shadow: 0px 2px 3px rgba(142, 155, 157, 0.5);
  -moz-box-shadow: 0px 2px 3px rgba(142, 155, 157, 0.5);
  box-shadow: 0px 2px 3px rgba(142, 155, 157, 0.5);
}
.uk-navbar-content {
  padding: 0 10px;
}
.navbar-logo {
  display: inline-block;
  padding: 0 10px;
  height: 36px;
  float: none;
}
.uk-button.header-btn {
  -moz-box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.75);
  -ms-box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.75);
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.75);
}
a#menus.uk-navbar-toggle.uk-float-right {
  text-shadow: none;
}
a#menus.uk-navbar-toggle.uk-float-right:link,
a#menus.uk-navbar-toggle.uk-float-right:active,
a#menus.uk-navbar-toggle.uk-float-right:visited {
  text-shadow: none;
  color: #ffffff;
}
a#menus.uk-navbar-toggle.uk-float-right:hover {
  color: #08cccc;
}
.copy {
  margin-top: 3px;
  color: #ffffff;
  font-size: 1.0em;
  -moz-text-shadow: 1px 1px 2px rgba(3, 82, 82, 0.5);
  -webkit-text-shadow: 1px 1px 2px rgba(3, 82, 82, 0.5);
  -ms-text-shadow: 1px 1px 2px rgba(3, 82, 82, 0.5);
  text-shadow: 1px 1px 2px rgba(3, 82, 82, 0.5);
}
/*---- SUB-MENUES ----*/
#menus .uk-modal-dialog .uk-button-dropdown {
  width: 100%;
}
#menus .uk-modal-dialog .menu-btn {
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
}
#menus .uk-modal-dialog .menu-btn a {
  color: #ffffff;
}
#menus .uk-modal-dialog .menu-btn i.uk-icon-caret-down {
  float: right;
  padding-top: 6px;
}
#menus .uk-modal-dialog .uk-dropdown {
  border: 1px solid #18bcbc;
  margin-left: 20px;
}
#menus .uk-modal-dialog .uk-dropdown li a {
  font-weight: bold;
  padding: 10px 0 10px 15px;
  color: #069b9b;
  text-shadow: none;
}
#menus .uk-modal-dialog .uk-dropdown li a:hover {
  background-color: #18bcbc;
  color: #ffffff;
}
#menus .uk-modal-dialog .uk-dropdown.uk-dropdown-bottom {
  padding: 10px 15px;
  margin: -5px 0 0 50px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}
#menus .uk-modal-dialog .uk-grid-divider:not(:empty) {
  padding: 0;
  margin: 10px auto;
}
#menus .uk-modal-dialog .uk-grid-divider .line-padd {
  padding: 0;
  text-align: center;
}
/*---- MODAL ----*/
.uk-modal-dialog {
  min-width: 300px;
  max-width: 600px;
}
.uk-modal-header {
  background: #08cccc;
  padding: 10px 0 10px 20px;
}
.uk-modal-header > h2 {
  font-size: 1.2em;
  color: #ffffff;
  font-weight: bold;
}
.uk-close-alt {
  background: #ffffff;
  color: #08cccc;
  box-shadow: none;
  border: 1px solid #18bcbc;
}
.uk-close-alt:hover {
  background: #08cccc;
  color: #ffffff;
}
/*---- FORM ----*/
.uk-form .uk-form-controls {
  margin: 10px;
}
.uk-form .uk-form-controls input,
.uk-form .uk-form-controls select,
.uk-form .uk-form-controls textarea {
  border-radius: 4px;
  color: #18bcbc;
  width: 98%;
}
.uk-form input:focus:not([type]),
.uk-form input[type="text"]:focus,
.uk-form input[type="password"]:focus,
.uk-form input[type="email"]:focus,
.uk-form input[type="url"]:focus,
.uk-form input[type="search"]:focus,
.uk-form input[type="tel"]:focus,
.uk-form input[type="number"]:focus,
.uk-form input[type="datetime"]:focus,
.uk-form input[type="datetime-local"]:focus,
.uk-form input[type="date"]:focus,
.uk-form input[type="month"]:focus,
.uk-form input[type="time"]:focus,
.uk-form input[type="week"]:focus,
.uk-form input[type="color"]:focus,
.uk-form select:focus,
.uk-form textarea:focus {
  border-color: #08cccc;
  outline: 0;
  background: rgba(57, 214, 214, 0.05);
  color: #022929;
}
#login_form.uk-modal .uk-modal-header {
  background-color: #08cccc;
}
#login_form.uk-modal .uk-modal-header h2 {
  color: #ffffff;
}
#login_form.uk-modal .label-width {
  width: 100px;
}
#login_form.uk-modal .zip-width {
  min-width: 60px;
}
/*---- MEDIA ----*/
#logo {
  background: url(../img/logo/logo_40_40_01.png);
}
#logo:hover {
  -moz-box-shadow: 1px 1px 3px rgba(142, 155, 157, 0.3);
  -webkit-box-shadow: 1px 1px 3px rgba(142, 155, 157, 0.3);
  -ms-box-shadow: 1px 1px 3px rgba(142, 155, 157, 0.3);
  box-shadow: 1px 1px 3px rgba(142, 155, 157, 0.3);
}
/*---- TABLE ----*/
.uk-table td,
.uk-table th {
  padding: 6px;
  border-bottom: 1px solid #cddbdb;
}
/*---- MAIN WRAPPER ----*/
#main {
  margin: 60px auto 25px auto;
  text-align: center;
}
.container {
  margin: 10px;
}
#user-name {
  float: right;
  margin: 0 10px 20px 0;
  font-size: 0.8em;
}
span#subtitle1 {
  display: inline-block;
  margin-top: 10px;
}
span#subtitle2 {
  display: none;
}
/*---- PANEL ----*/
.uk-panel-box {
  padding: 5px 15px 10px 15px;
  background: #ffffff;
  color: #069b9b;
  border: 1px solid #cddbdb;
  border-radius: 4px;
}
.uk-panel-box h4.uk-panel-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #069b9b;
  text-align: left;
  border-bottom: 1px dotted #069b9b;
  padding-bottom: 2px;
  margin-bottom: 3px;
}
.uk-panel-box h3.uk-panel-author {
  font-size: 1.0em;
  font-weight: bold;
  color: #069b9b;
  text-align: right;
  border-bottom: 1px dotted #069b9b;
  padding-bottom: 2px;
  margin: 0 0 5px 0;
}
.uk-panel-box .badges {
  float: right;
  margin-bottom: 5px;
}
.uk-panel-box .badges .uk-badge {
  padding: 1px 2px;
}
.uk-panel-box .badges .uk-badge.small {
  font-size: 0.6em;
}
.uk-panel-box .tags {
  margin: 5px;
  text-align: left;
  line-heoght: 1.0;
}
.uk-panel-box .tags .tag {
  height: 16px;
  background-color: #327ed6;
  color: #ffffff;
  font-size: 0.8em;
  padding: 2px 8px;
  border-radius: 8px;
  white-space: nowrap;
}
.uk-panel-box .uk-panel-teaser {
  test-align: center;
  height: 100px;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 2px rgba(142, 155, 157, 0.5);
  -moz-box-shadow: 0px 1px 2px rgba(142, 155, 157, 0.5);
  box-shadow: 0px 1px 2px rgba(142, 155, 157, 0.5);
}
.uk-panel-box .context {
  font-size: 0.85em;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.uk-panel-box .uk-overlay-background {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
}
.uk-panel-box .uk-overlay-panel {
  padding: 10px;
}
.uk-panel-box .box-text {
  height: 80%;
  text-align: left;
  padding: 0;
  margin: 5px 0;
  line-height: 1.3;
  font-weight: normal;
  overflow: scroll;
  /*
			overflow: hidden;
			white-space: nowrap;
			-webkit-text-overflow: ellipsis;
			-o-text-overflow: ellipsis;
			text-overflow: ellipsis;
			*/
}
.uk-panel-box button.readtry {
  margin: 5px auto;
}
.uk-panel-box .box-cover {
  margin-bottom: 10px;
}
.uk-panel-box .prof {
  font-size: 0.85em;
  text-align: right;
  line-height: 1.3;
  border-bottom: 1px dotted #069b9b;
  padding: 2px 0 5px 0;
}
.uk-panel-box .uk-thumbnail {
  padding: 0;
  border: none;
  border-radius: 0;
  max-height: 280px;
  overflow: hidden;
}
.uk-panel-box.color-pink {
  background: #f9dced;
  border: 1px solid #e35aa9;
  color: #e35aa9;
}
.uk-panel-box.color-pink h4.uk-panel-title {
  color: #e35aa9;
  border-bottom: 1px solid #e35aa9;
}
.uk-panel-box.color-gray {
  background: #689494;
  border: 1px solid #357171;
  color: #ffffff;
}
.uk-panel-box.color-gray h4.uk-panel-title {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.uk-panel-box.color-blue {
  background: #cef5f5;
  border: 1px solid #069b9b;
  font-weight: bold;
}
.uk-panel-box.color-blue h4.uk-panel-title {
  border-bottom: 1px solid #069b9b;
}
.uk-panel-box:hover {
  cursor: pointer;
}
